@media screen and (max-width: 1200px) {
    .product-div{
        position: absolute;
        left:50%;
    }
   
}
@media screen and (max-width: 1200px) {
    .product-div{
        position: absolute;
        left:40%;
    }
   .robo{
    margin-top:1%;
    max-width: 50%;
   }
}
@media screen and (max-width: 980px) {
    .product-div{
        position: absolute;
        left:25%;
    }
   
}
@media screen and (max-width: 768px) {
    .product-div {
    position: absolute;
    left: 14%;
}
   .robo{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 20%;
    width: 10
   }
}
@media screen and (max-width: 540px) {
    .product-div {
        position: absolute;
        left: 8%;
        top: 25%;
    }
    .product-name {
    margin-left: 25%;
    float: left;
}
.product-div h2{
    text-align: center;
    margin-top: 6%;
}
.logo-div img{
    top: 47px;
    left: -41px;
}
.product-div a.eight {
    top: 108%;
    left:10%;
}
}
@media screen and (max-width: 414px){
.logo-div img {
    top: 47px;
    left: -76px;
}
.product-div a.two{
    right: 79%;
}
.product-div a.three{
    right:75%;
}
.product-div a.four,.product-div a.six{
    right:45%;
}
.product-div a.one {
    top: 105%;
    right: 9%;
    }

.product-div a.eight {
    top: 100%;
    right: 0;
    left: 0;
}
.product-div a.seven {
    top: 377%;
    right: 19%;

}
.robo {
   margin-top: 1%;
    max-width: 63%;
    left:11%;
    }
}